body{
    background: #E5E5E5;
    font-family: 'Inter', Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif;
}

.symbol {
    display: inline-block;
    border: 1px solid grey;
    width: 20px;
    text-align: center;
    border-radius: 50%;
}

img {
    margin-top: 20px;
}
/*espacio donde se pinta el ahoracado*/
.ahorcado {
    width: 1000px;
    margin: 0 auto;
    /* margin-bottom: 75px; */
    height: 500px;
}

/*clase que se va a usar para pintar el ahorcado*/
.dibujo {
    position: absolute;
    border: 4px solid #0A3871;
    /* left: 800px;/* coordenadas (x950, y100) 
    top: 400px;
    width: 300px;
    height: 3px;
    border-radius: 50;
    border-bottom: 3px solid #0A3871;
    border-left: 3px solid #0A3871; */
}

.msnPerdio {
    width: 200px;
    color: red;
    font-size: 44px;
    position: absolute;
    left: 1200px;
    top: 200px;
}

.msnGano {

}

/* contenedor de letra */
.caja{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.c1 {/* letra */
    color: #0A3871;
    width: 80px;
    height: 72px;
    font-size: 48px;
    text-align: center;
    margin: 0 20px 0 20px;
}

.transparent {
    color: transparent;
    width: 80px;
    height: 72px;
    font-size: 48px;
    text-align: center;
    margin: 0 20px 0 20px;
}

.line{/* contenedor de underline */
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.c2 {/* underline de la letra */
    width: 80px;
    height: 4px;
    background: #0A3871;
    margin: 10px 20px 0 20px;
}

 /*letras usadas*/
 .res2 {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 26px;
}
/*fin letras usadas*/

/*botonera*/
.botones {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.boton {
    width: 332px;
    padding: 30px;
    margin: 0 10px 0 10px;
    background: #0A3871;
    border: 1px solid #0A3871;
    font-weight: 400;
    border-radius: 24px;
    color: aliceblue;
    text-align: center;
    cursor: pointer;
}

.boton:hover {
    background: transparent;
    color: #0A3871;
}

.boton:last-child{
    background: transparent;
    color: #0A3871;
}

.boton:last-child:hover{
    background: #0A3871;
    color: aliceblue;
}
/*fin botonera*/

/*Estilos pagina de Inicio*/
.btns-inicio {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15%;
    cursor: pointer;
}

.boton-inicio {
    width: 332px;
    padding: 60px;
    margin: 0 10px 0 10px;
    background: #0A3871;
    border: 1px solid #0A3871;
    font-weight: 400;
    border-radius: 24px;
    color: aliceblue;
    text-align: center;
    cursor: pointer;
}

.boton-inicio:hover {
    background: transparent;
    color: #0A3871;
}

.boton-agregar {
    width: 300px;
    padding: 30px;
    margin: 0 10px 0 10px;
    background: #E5E5E5;
    border: 1px solid #0A3871;
    font-weight: 400;
    border-radius: 24px;
    color: #0A3871;
    text-align: center;
    cursor: pointer;
    margin-top: 50px;
}

.boton-agregar:hover {
    background: #0A3871;
    color: white;
}

/*fin inicio*/

/*estilos agregar palabra*/
main {
    width: 1000px;
    margin: 0 auto;
    padding: 100px 0 200px 200px;
}

.palabra-agregada {/*input*/
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #0A3871;
    border: 0;
    background: #E5E5E5;
    margin-bottom: 350px;
    margin-left: 10px;
}/*quitar la margen del input al hacer focus*/

.palabra-agregada::placeholder {
    color: #0A3871;
}

.palabra-agregada:focus{
    outline: none;
    
}

.alert{
    display: block;
    position: absolute;
    margin-left: 10px;
    margin-top: 20px;
    color: #0A3871;
    margin-bottom: 0;
}

.contenedor-btns__agregar {
    display: flex;
    justify-content: flex-start;
}

.boton-agregar-palabra {
    width: 300px;
    padding: 30px;
    margin: 0 10px 0 10px;
    background: #0A3871;
    border: 1px solid #0A3871;
    font-weight: 400;
    border-radius: 24px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin-top: 50px;
}

.boton-agregar-palabra:hover {
    background: transparent;
    color: #0A3871;
}

.boton-cancelar-agregar {
    width: 300px;
    padding: 30px;
    margin: 0 10px 0 10px;
    background: #E5E5E5;
    border: 1px solid #0A3871;
    font-weight: 400;
    border-radius: 24px;
    color: #0A3871;
    text-align: center;
    cursor: pointer;
    margin-top: 50px;
}

.boton-cancelar-agregar:hover {
    background: #0A3871;
    color: white;
}


